[
  {
    "id": "m7",
    "nom": "Monde 7",
    "players_api_url": "https://monde7.empireimmo.com/api/players.json"
  },
  {
    "id": "m8",
    "nom": "Monde 8",
    "players_api_url": "https://monde8.empireimmo.com/api/players.json"
  },
  {
    "id": "beta",
    "nom": "Monde Bêta",
    "players_api_url": "https://mondebeta.empireimmo.com/api/players.json"
  }
]
